name: Preprocess Data

on:
  push:
    branches:
      - main  
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python 3.9
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pandas

    - name: Run preprocessing script
      run: python preprocessing/automate_ShifaNabila.py 
    - name: Upload preprocessed data
      uses: actions/upload-artifact@v4  
      with:
        name: instax-sales-preprocessed-data
        path: instax_sales_preprocessing.csv
